:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #ecf0f1;
    --text-color: #333;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

nav {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.proyectos h1 {
    text-align: center;
}

.proyectos ul {
    list-style: none;
    padding: 0;
}

.proyectos li {
    margin: 10px 0;
}

.proyectos a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

.proyectos a:hover {
    text-decoration: underline;
}

.detalle-proyecto {
    display: none;
    margin-bottom: 20px;
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.loader-content {
    text-align: center;
}

.spinner {
    border: 6px solid rgba(0, 0, 0, 0.1);
    border-left: 6px solid var(--primary-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.social-media {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}

.social-media li {
    display: inline;
    margin: 0 10px;
}

.social-media a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.social-media a:hover {
    text-decoration: underline;
}



#testimonios {
    padding: 20px;
    background-color: #f9f9f9;
    margin-top: 20px;
}

.testimonio {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.testimonio p {
    font-style: italic;
}

.testimonio cite {
    display: block;
    text-align: right;
    font-weight: bold;
    margin-top: 5px;
}

